# npm debugging logs
npm-debug.log*
*.log

# project dependencies
node_modules

# OSX folder attributes 
.DS_Store

# temporary files
*.tmp
*~
*.bak

# ES6 to ES5 (Portable JS) Babel Transcoding Destination dirs
dist
public/dist
